$amber: #ffa000;
$black: #000000;
$blue-gray: #455a64;
$blue: #1976d2;
$brown: #5d4037;
$cyan: #0097a7;
$deep-orange: #e64a19;
$deep-purple: #512da8;
$gray: #616161;
$green: #388e3c;
$indigo: #303f9f;
$light-blue: #0288d1;
$light-green: #689f38;
$lime: #afb42b;
$orange: #f57c00;
$pink: #c2185b;
$purple: #7b1fa2;
$red: #d32f2f;
$teal: #00796b;
$white: #ffffff;
$yellow: #fbc02d;

$custom-colors: (
  "amber": $amber,
  //ok
  "black": $black,
  // ok
  "blue-grey": $blue-gray,
  "blue": $blue,
  //ok
  "brown": $brown,
  //ok
  "cyan": $cyan,
  //ok
  "deep-purple": $deep-purple,
  //ok
  "deep-orange": $deep-orange,
  "grey": $gray,
  //ok
  "green": $green,
  //ok
  "indigo": $indigo,
  "light-blue": $light-blue,
  "light-green": $light-green,
  "lime": $lime,
  "orange": $orange,
  //ok
  "pink": $pink,
  //ok
  "purple": $purple,
  //ok
  "red": $red,
  //ok
  "teal": $teal,
  "yellow": $yellow,
  "white": $white,
  //ok
);
